.App {
  font-family: sans-serif;
  text-align: center;
  height: 50rem;
  white-space: nowrap;
}

.view-wrapper .edge {
  stroke: #000;
  stroke-width: 1px;
  marker-end: url(#end-arrow);
}

.view-wrapper .edge.selected {
  stroke: #1e90ff;
  color: #000;
}

.view-wrapper .arrow {
  fill: #000;
}